@import url(https://fonts.bunny.net/css?family=jersey-20:400|k2d:200,400,500,700|roboto:400,700);

@import "layout.css";

@import "components/map.css";
@import "components/detail.css";
@import "components/km.css";
@import "components/dialog.css";
@import "components/add-place.css";

:root {
    --light: #EBEDF4;
    --dark: #1A1E2B;
    --green: #29BF12;
    --light-green: #ABFF4F;
    --green-gray: rgba(41, 191, 18, 0.3);
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'K2D', sans-serif;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
}

button {
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 1rem;

    background-color: var(--green);
    color: var(--dark);

    font-weight: 500;

    border: var(--green-gray) solid 2px;
}

input, textarea {
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 1rem;

    border: var(--green-gray) solid 2px;
    background-color: var(--light);

    &:focus {
        outline: none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light);
    border-radius: 10px;
}
