@import url(https://fonts.bunny.net/css?family=jersey-20:400|k2d:200,400,500,700|roboto:400,700);

@import "layout.css";

@import "components/map.css";
@import "components/detail.css";
@import "components/km.css";
@import "components/dialog.css";

:root {
    --light: #EBEDF4;
    --dark: #1A1E2B;
    --green: #29BF12;
    ---light-green: #ABFF4F;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'K2D', sans-serif;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
}